@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Piazzolla:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --blue-color: #118ab2;
  --green-color: #06d6a0;
  --yellow-color: #ffd166;
  --red-color: #ef476f;
  --midnight-color: #073b4c;
  --light-color: #f8f9fa;
  --white-color: #ffffff;
  --gray-color: #888888;
  --black-color: #262626;
  --body-font: "Montserrat", sans-serif;
  --headings-font: "Piazzolla", serif;
  --system-font: "SF Pro Display", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
